@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h1>SqlSyringe (alpha/pre-release status)</h1>

<p><em>USE WITH CAUTION, and for testing purposes only.</em></p>

<p>SqlSyringe is a SQL database injection tool, for testing purposes. Used as a middleware, it allows to deliberately execute SQL command onto a database, using a provided connection string.</p>

<p>See the project page on https://github.com/suterma/SqlSyringe</p>
